@*@model Login
@{
    ViewData["Title"] = "Login";
}

<h1 class="bg-info text-white">Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>
  
<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        Remember me? <input type="checkbox" asp-for="Remember" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>

    <a class="btn btn-secondary" asp-action="ForgotPassword">Forgot Password</a>
</form>*@

<div style="text-align:end">
    @if(User.Identity.IsAuthenticated)
        {
            <span>@User.Identity.Name</span>
            <a asp-area="default" asp-controller="Auth" asp-action="SignOut">Log out</a>
        }
        else
        {
            <span>Login</span>
        }
</div>