@model string

@{
    ViewData["Title"] = "Authentication";
}

<h1> Welocome @Model</h1> 
<h1 class="bg-info text-white">Index</h1>
@Model

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}