@*@using Microsoft.AspNetCore.Identity;*@
@inject SignInManager<AppUser> signInManager;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @if(signInManager.IsSignedIn(User))
        {
             <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Identity</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="/">Login</a>
                        </li>
                        @if(User.IsInRole("Users"))
                        {
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserMgnt" asp-action="View" asp-route-id="userid.id"> User Details</a>
                            </li>
                            }
                            else
                            {
                                 <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="UserMgnt" asp-action="Index">All User</a>
                                 </li>
                            }
                        
                            <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserMgnt" asp-action="Create">Create User</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">All Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Create">Create Role</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Create">CreateCustomer</a>
                            </li>
                             <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">AllCustomer</a>
                                 </li>
                             <li class="nav-item">
                            <a class="nav-link text-dark"  asp-controller="Account" asp-action="Register">Resgister</a>
                        </li>
                        
                      

                        @*--------*@
                        <li>  
                   @if (User.Identity.IsAuthenticated)  
                   {  
                    @if (User.IsInRole("Admin"))  
                       {  
                            <a asp-area="" asp-controller="Admin" asp-action="Index">Admin Page</a>  
                       }  
                    }  
               </li>  
               @*-----------*@
                    </ul>
                     
                </div>
               
            </div>
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
            </nav>
        }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Identity - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
